body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

.clock-container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  margin-bottom: 0 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
